body {
    background-image: url("images/pokemons.jpg");
}
#shoppingApp {
    text-align: center;
    margin: 0 450px;
    background: antiquewhite;
    border-radius: 30px;
    border: 1px solid grey;
}
